<?xml version="1.0" encoding="utf-8"?>
<phpunit backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>

    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
            <directory suffix=".php">vendor</directory>
        </blacklist>
    </filter>

    <php>
        <var name="db_type" value="pdo_pgsql"/>
        <var name="db_host" value="localhost" />
        <var name="db_username" value="postgres" />
        <var name="db_password" value="" />
        <var name="db_name" value="type_tests" />
        <var name="db_port" value="5432" />
    </php>
</phpunit>
